<tr class="reservation" data-id="<%= reservation.id %>">
<td class="x"><%= link_to 'X', reservation_path(reservation), method: 'delete', action: 'destroy', class: 'delete hidden' %></td>
<td><span class="name"><%= reservation.name %></span></td>
<td><span class="party-size"><%= reservation.party_size %></span></td>
<td><span class="phone-number"><%= reservation.phone_number.phony_formatted(normalize: :US, format: :national, spaces: '-') %></span></td>
<td><span class="wait-time"><%= reservation.wait_time %></span></td>
<td>
  <% if reservation.notified_table_ready %>
    <button class="ready-message-sent">
  <% else %>
    <button class="message-ready">
  <% end %>
    </button>
</td>
