<form class="tr reservation" data-id="<%= reservation.id %>" data-restaurant-id="<%= restaurant.id %>" method="post" action="/restaurants/<%= restaurant.id %>/reservations/<%= reservation.id %>">

  <div class="status-flag">
    <span class="td status" id='status-waiting'><%= reservation.status %></span>
  </div>

  <span class="td party-size"><%= reservation.party_size %></span>
  <span class="td name"><%= reservation.name %></span>
  <span class="td phone-number"><%= reservation.phone_number.phony_formatted(normalize: :US, format: :national, spaces: '-') %></span>
  <span class="td wait-time"><%= reservation.wait_time_display %></span>
  <span class="td seat-time"><%= reservation.estimated_seat_time_display %></span>
  <span class="update-button"><input class="edit" type="submit" value="edit"></span>
  <span class="message-button">
    <% if reservation.notified_table_ready %>
      <div class="ready-message-sent"><%= image_tag('sms-sent.png') %></div>
    <% else %>
      <div class="message-ready"><%= image_tag('sms.png') %></div>
    <% end %>
  <div class="delete-button"><%= link_to image_tag("archive.jpeg"), archive_path(current_restaurant.id, reservation.id), method:"post", action: 'archive', class: 'archive' %></div>
  </span>
</form>