<form class="tr reservation" data-id="<%= reservation.id %>" data-restaurant-id="<%= restaurant.id %>" method="post" action="/restaurants/<%= restaurant.id %>/reservations/<%= reservation.id %>">
  <input type="hidden" name="reservation[before_wait_time]" value="<%= reservation.wait_time %>">

  <div class="status-flag">
    <span class="td status"><%= reservation.status %></span>
  </div>

  <span class="td party-size"><%= reservation.party_size %></span>
  <span class="td name"><%= reservation.name %></span>
  <span class="td phone-number"><%= reservation.phone_number.phony_formatted(normalize: :US, format: :national, spaces: '-') %></span>
  <span class="td wait-time"><%= reservation.wait_time_display %></span>
  <span class="td seat-time"><%= reservation.estimated_seat_time_display %></span>
  <span class="update-button"><input class="edit" type="submit" value="edit"></span>
  <span class="message-button">
    <% if reservation.notified_table_ready %>
      <div class="ready-message-sent">sent</div>
    <% else %>
      <div class="message-ready">notify</div>
    <% end %>
  <div class="delete-button"><%= link_to "x", restaurant_reservation_path(restaurant.id, reservation.id), method: 'delete', action: 'destroy', class: 'delete' %></div>
  </span>
</form>
