<% trash_img = image_tag('trash-bin.png', :class =>"trash") %>

<form class="tr reservation" data-id="<%= reservation.id %>" data-restaurant-id="<%= restaurant.id %>" method="post" action="/restaurants/<%= restaurant.id %>/reservations/<%= reservation.id %>">
  <input type="hidden" name="reservation[before_wait_time]" value="<%= reservation.wait_time %>">
  <span class="td name"><%= reservation.name %></span>
  <span class="td party-size"><%= reservation.party_size %></span>
  <span class="td phone-number"><%= reservation.phone_number.phony_formatted(normalize: :US, format: :national, spaces: '-') %></span>
  <span class="td wait-time"><%= reservation.wait_time %></span>
  <span class="td update-button"><input class="edit" type="submit" value="edit"></span>
  <span class="td delete-button"><%= link_to trash_img, restaurant_reservation_path(restaurant.id, reservation.id), method: 'delete', action: 'destroy', class: 'delete' %></span>
  <span class="td message-button">
    <% if reservation.notified_table_ready %>
      <div class="ready-message-sent"></div>
    <% else %>
      <div class="message-ready"></div>
    <% end %>
  </span>
</form>
