<% if current_restaurant %>

<div class="nav">
<%= render "restaurants/logout" %>
</div>
<br/>
<div class="create-form">
  <%= render "reservations/form" %>
</div>

<div class="error-message">
  <%= flash[:error] %>
</div>

<div class="table" data-restaurant-id="<%= @restaurant.id %>">
  <div class="table-body">
    <% @reservations.each do |reservation| %>
      <%= render partial: "reservations/show", locals: { restaurant: @restaurant, reservation: reservation } %>
    <% end %>
  </div>
</div>

<% end %>
