<div id="main">
	<h2 id="title1">don't</h2>
	<h1 id="title2">Wait For It</h1>
</div>

<%= render "reservations/form" %>

<div class="error-message">
  <%= flash[:error] %>
</div>

<div class="table">
  <table>
    <thead class="table-headers">
      <tr>
        <th>Name</th>
        <th>Party Size</th>
        <th>Phone Number</th>
        <th>Wait Time</th>
        <th class="button_column"></th>
      </tr>
    </thead>
    <tbody>
        <% @reservations.each do |reservation| %>
        <tr class="rezzy" data-id="<%= reservation.id %>">
          <td><%= reservation.name %></td>
          <td><span class="party-size" data-id="<%= reservation.id %>"><%= reservation.party_size %></span></td>
          <td><%= reservation.phone_number %></td>
          <td><%= reservation.wait_time %></td>
          <td><%= link_to 'X', reservation_path(reservation), method: 'delete', action: 'destroy', class: 'delete hidden' %></td>
          <td>  <% if reservation.notified_table_ready %>
            <button class="ready-message-sent">
              <% else %>
              <button class="message-ready">
                <% end %>
              </button></td>
            </tr>
        </tbody>
      </table>
    </div>

