<h1>Wait For It</h1>

<%= render "reservations/form" %>

<%= flash[:error] %>

<div class="table">
  <table>
    <tr>
      <th>name</th>
      <th>party size</th>
      <th>phone number</th>
      <th>wait time</th>
    </tr>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.name %></td>
        <td class="focus"><span class="party-size" data-id="<%= reservation.id %>"><%= reservation.party_size %></span></td>
        <td><%= reservation.phone_number %></td>
        <td><%= reservation.wait_time %></td>
      <tr>
    <% end %>
  </table>
</div>