<div id="time">
    <%= DateTime.now.strftime("%b %e, %Y %l:%M %P") %>
</div>

<div class="add-reservation-form">
	<%= render "reservations/form" %>
</div>

<div class="table" data-restaurant-id="<%= current_restaurant.id %>">
		<div class="table-head">
			<span class="td status-head">Status</span>
			<span class="td party-size">#</span>
      <span class="td name">Name</span>
			<span class="td phone-number">Phone</span>
      <span class="td wait-time">Wait</span>
			<span class="td seat-time">Seat Time</span>
		</div>

		<div class="table-body">
			<% @reservations.each do |reservation| %>
			 <%= render partial: "reservations/show", locals: { restaurant: current_restaurant, reservation: reservation } %><div class="archive-button"></div>
			<% end %>
		</div>
	</div>
</div>

<%= render partial: "layouts/templates" %>