<h1 id="title">Wait For It</h1>

<%= render "reservations/form" %>

<%= flash[:error] %>

<div class="table">
	<table>
		<div class="table_headers">
			<tr>
				<th>Name</th>
				<th>Party Size</th>
				<th>Phone Number</th>
				<th>Wait Time</th>
			</tr>
		</div>
		<% @reservations.each do |reservation| %>
		<tr>
			<td><%= reservation.name %></td>
			<td><%= reservation.party_size %></td>
			<td><%= reservation.phone_number %></td>
			<td><%= reservation.wait_time %></td>
		</tr>
		<% end %>
	</table>
</div>
