
<%= render "reservations/form" %>

<%= flash[:error] %>

<div class="table">
  <table>
    <div class="table-headers">
      <tr>
        <th>name</th>
        <th>party size</th>
        <th>phone number</th>
        <th>wait time</th>
      </tr>
    </div>
    <% @reservations.each do |reservation| %>
      <tr>
      <td><%= reservation.name %></td>
      <td><%= reservation.party_size %></td>
      <td><%= reservation.phone_number %></td>
      <td><%= reservation.wait_time %></td>
      <tr>
    <% end %>
  </table>
</div>