<% if @reservation.status != "Cancelled" %>

<div id="guest-content" data-id="<%= @reservation.id %>" data-restaurant-id="<%= @reservation.restaurant_id %>">
  <div class="guest-name">
    <%= @reservation.name %>,<span class="ha"></span>
    <br/>head back to<br/><%= @reservation.restaurant.name %> around
  </div>

  <div class="seat-time">
    <%= @reservation.time_range_display_start[:start_time] %> – <%= @reservation.time_range_display_end %>
  </div>

  <div class="cancel-button">
    <span class="cancel">cancel</span>
  </div>

  <div class="confirmation-message hidden">
    <span class="confirmed">Your reservation has been cancelled.</span>
  </div>
</div>

<% else %>

<div id="guest-content" data-id="<%= @reservation.id %>" data-restaurant-id="<%= @reservation.restaurant_id %>">
  <div class="guest-name">
    <%= @reservation.name %>,<span class="ha"> don't</span>
    <br/>head back to<br/><%= @reservation.restaurant.name %> around
  </div>

  <div class="seat-time">
    <%= @reservation.time_range_display_start %> – <%= @reservation.time_range_display_end %>
  </div>

  <div class="cancel-button hidden">
    <span class="cancel">cancel</span>
  </div>

  <div class="confirmation-message">
    <span class="confirmed">Your reservation has been cancelled.</span>
  </div>
</div>

<% end %>