<h1>Sign In</h1>

<%= form_tag sessions_path do %>
<div class='email-field'>
	<%= text_field_tag :email, params[:email], placeholder: :email %>
</div>
<div class='password-field'>
	<%= password_field_tag :password, nil, placeholder: :password %>
</div>
<div class='submit' ><%= submit_tag 'Login' %></div>
<% end %>

<div class="register-link">
	<%= link_to "register", new_restaurant_path %>
</div>

<div class="table">
	<table>
		<thead>
			<div class="th" >
				<span class='td'>Restaurant</span>
				<span class='td'>Current Max Wait Time (mins)</span>
			</div>
		</thead>
		<tbody>
			<% @restaurants.each do |restaurant| %>
				<%= render partial: 'restaurants/show', locals: { restaurant: restaurant } %>
			<% end %>
		</tbody>
	</table>
</div>


<div class="error">
	<%= flash[:error] %>
</div>

<br/><br/>
hey
<% if logged_in? %>
<%= link_to @current_restaurant.name, restaurant_reservations_path(@current_restaurant.id) %>
<% end %>
