<h1>Restaurant Registration</h1>
<%= form_for @restaurant do |f| %>
	<%= render 'shared/form_errors', :model => @restaurant %>
	<div class="error-message">
	  <%= flash[:error] %>
	</div>
	<div class='name-field'>
		<%= f.text_field :name, placeholder:'Restaurant Name'%>
	</div>
	<div class='email-field'>
		<%= f.text_field :email, placeholder: "Email" %>
	</div>
	<div class='password-field'>
		<%= f.password_field :password, placeholder: "Password" %>
	</div>
	<div class='password_confirm-field'>
		<%= f.password_field :password_confirmation, placeholder: "Password" %>
	</div>
	<div class='submit' ><%= f.submit value='Create Account' %></div>
<% end %>