<h1>Restaurant Registration</h1>
<%= form_for restaurant do |f| %>
	<div class="error-message">
	  <%= flash[:error] %>
	</div>
	<div class='name-field'>
		<%= f.text_field :name, placeholder:'Restaurant Name'%>
	</div>
	<div class='email-field'>
		<%= f.text_field :email, placeholder: :email %>
	</div>
	<div class='password-field'>
		<%= f.password_field :password, placeholder: :password %>
	</div>
	<div class='password_confirm-field'>
		<%= f.password_field :password_confirmation, placeholder: :password_confirmation %>
	</div>
	<div class='submit' ><%= f.submit value='Create Account' %></div>
<% end %>
